body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  background: whitesmoke;
  height: auto;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.Map {
  width: 800px;
  height: 500px;
  overflow: hidden;
}

/* hamburger icon */
.icon {
  font-size: 25px;
  transition: 0.2s;
}

.icon:active {
  font-size: 28px;
}
