.borough-map {
  width: 500px;
  height: 680px;
}

@media only screen and (max-width: 1100px) {
  .borough-map {
    width: 600px;
    height: 700px;
  }
}

@media only screen and (max-width: 500px) {
  .borough-map {
    width: 300px;
    height: 500px;
    margin-bottom: 200px;
  }
}
